@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0px;
}
html,
body,
#root,
.app,
.content {
  position: "fixed";
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
  font-family: "Source Sans Pro", sans-serif;
  border: "2px solid black";
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

@media screen and (max-width: 700px) {
  /* body {
    overflow-y: hidden;
    overflow-x: hidden;
  } */
  ::-webkit-scrollbar {
    width: 0px;
  }
}
